@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .bg-gray-white-lg {
    background: linear-gradient(90deg, #F2F2F2 100%, white );
  }
}

body {
  padding: 0;
  margin: 0;
  @apply overflow-x-hidden
}

.component {
  @apply py-5 md:py-10 lg:py-16
}

.cart::-webkit-scrollbar{
  width: 2px;
  height: 5px !important;
}


.cart::-webkit-scrollbar-thumb{
  width: 2px;
  height: 5px !important;
  background-color: #8B4513;
}